<!doctype html>
<html class="no-js">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <%# Config %>
    <% page = "" %>
    <% if locals[:job] %>
      <% page = job %>
    <% else %>
      <% data.site.policy_page.each do |id, policy| %>
        <% page = policy %>
      <% end %>
    <% end %>
    <%# End %>
    <meta property="og:url" content="<%= data.meta.url %>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= page.seo.title %>">
    <meta property="og:description" content="<%= page.seo.description %>">
    <meta property="og:image" content="https:<%= page.seo.og.url %>">
    <!-- To learn more about Open Graph markup, visit Facebook for Developers -> https://developers.facebook.com/docs/sharing/webmasters -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="<%= page.seo.title %>">
    <meta name="twitter:description" content="<%= page.seo.description %>">
    <meta name="twitter:image" content="https:<%= page.seo.twitter.url %>">
    <!-- To learn more about Twitter's Summary Card, visit Twitter for Developers -> https://dev.twitter.com/cards/types/summary -->
    <%= partial "partials/meta" %>
    <title><%= page.title %> | Tym Forest</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <%= stylesheet_link_tag :reset %>
    <%= stylesheet_link_tag :site %>
    <%= partial "partials/analytics" %>
  </head>
  <body class="difuminar">
    <div id="cubierta-menu"></div>
    <%= partial "partials/menu" %>
    <main class="productos-desktop layout-texto">
      <div class="contenedor-desktop">
        <div class="reticula">
          <div class="columna-tablet-2 columna-desktop-3"></div>
          <div class="columna-tablet-8 columna-desktop-6">
            <%= yield %>
          </div>
          <div class="columna-tablet-2 columna-desktop-3">
          </div>
        </div>
      </div>
      <%= partial "partials/footer" %>
      <%= partial "partials/contacto_movil" %>
    </main>
    <%= javascript_include_tag :modernizr %>
    <%= javascript_include_tag :menu %>
    <%= javascript_include_tag :contacto_movil %>
    <%= javascript_include_tag :difuminar %>
  </body>
</html>
