<!doctype html>
<html class="no-js">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <%# Social Meta-tags %>
    <%= partial "partials/meta" %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <%= stylesheet_link_tag :reset %>
    <%= stylesheet_link_tag :site %>
    <%= stylesheet_link_tag :flickity %>
    <%# Google Analytics %>
  </head>
  <body class="difuminar">
    <div id="cubierta-menu"></div>
    <main>
      <%= partial "partials/menu" %>
      <%= yield %>
      <%= partial "partials/contacto_movil" %>
      <%# Config %>
      <% sale = false %>
      <% data.site.ad_sections.each do |id, ad| %>
        <% data.site.products_a.each do |id, product| %>
          <% if product.is_sale %>
            <%= partial "partials/oferta" %>
            <% sale = true %>
            <% break %>
          <% end %>
        <% end %>
        <% if !sale %>
          <%= partial "partials/newsletter" %>
        <% end %>
      <% end %>
      <%# End %>
      <%= partial "partials/footer" %>
      <%# Mobile Contact %>
    </main>
    <%= javascript_include_tag :modernizr %>
    <%= javascript_include_tag :menu %>
    <%= javascript_include_tag :horarios %>
    <%= javascript_include_tag :flickity %>
    <%= javascript_include_tag :galeria %>
    <%= javascript_include_tag :carrusel %>
    <%= javascript_include_tag :contacto_movil %>
    <%= javascript_include_tag :difuminar %>
  </body>
</html>
