<!doctype html>
<html class="no-js">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <%# Social Meta-tags %>
    <%# Favicon Meta-tags %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Test -->
    <%= stylesheet_link_tag :reset %>
    <%= stylesheet_link_tag :site %>
    <%# Google Analytics %>
  </head>
  <body class="difuminar">
    <div id="cubierta-menu"></div>
    <%= partial "partials/menu" %>
    <main>
      <%= yield %>
      <%# Action Banner Ad %>
      <%= partial "partials/footer" %>
      <%# Mobile Contact %>
    </main>
    <%= javascript_include_tag :modernizr %>
    <%= javascript_include_tag :menu %>
    <%= javascript_include_tag :horarios %>
    <%# Mobile Contact Script %>
    <%= javascript_include_tag :alternar_anuncios %>
    <%= javascript_include_tag :difuminar %>
  </body>
</html>
