<!doctype html>
<html class="no-js">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta property="og:url" content="<%= data.meta.url %>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= store.seo.title %>">
    <meta property="og:description" content="<%= store.seo.description %>">
    <meta property="og:image" content="<%= store.seo.og.url %>">
    <!-- To learn more about Open Graph markup, visit Facebook for Developers -> https://developers.facebook.com/docs/sharing/webmasters -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="<%= store.seo.title %>">
    <meta name="twitter:description" content="<%= store.seo.description %>">
    <meta name="twitter:image" content="<%= store.seo.twitter.url %>">
    <!-- To learn more about Twitter's Summary Card, visit Twitter for Developers -> https://dev.twitter.com/cards/types/summary -->
    <%= partial "partials/meta" %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <%= stylesheet_link_tag :reset %>
    <%= stylesheet_link_tag :site %>
  </head>
  <body class="difuminar">
    <div id="cubierta-menu"></div>
    <main>
      <%= partial "partials/menu" %>
      <%= yield %>
      <%# Config %>
      <% ad_section = "" %>
      <% data.site.ad_sections.each do |id, section| %>
        <% ad_section = section.store_pages %>
      <% end %>
      <%# End %>
      <% if ad_section === "Contacto" %>
        <%= partial "partials/contacto" %>
      <% elsif ad_section === "Ofertas" && check_sales %>
        <%= partial "partials/oferta" %>
      <% elsif ad_section === "Newsletter" %>
        <%= partial "partials/newsletter" %>
      <% else %>
        <%= partial "partials/contacto" %>
      <% end %>
      <%= partial "partials/footer" %>
    </main>
    <%= javascript_include_tag :modernizr %>
    <%= javascript_include_tag :menu %>
    <%= javascript_include_tag :horarios %>
    <%= javascript_include_tag :alternar_mapas %>
    <%= javascript_include_tag :mapas %>
    <%= javascript_include_tag :difuminar %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCP_ev9agUDJGJCRu1haDffAFYAYLhV1Ug&callback=initMap"
    async defer></script>
  </body>
</html>
