<footer>
  <div class="contenedor-movil contenedor-tablet contenedor-desktop">
    <div class="reticula">
      <div class="columna-movil-50">
        <div class="columna-tablet-3 columna-desktop-3">
          <%# Maderas %>
          <h4>Maderas</h4>
          <ul>
            <% data.site.products_a.each do |id, product| %>
              <% if product.category.name === "Maderas" %>
                <li><%= link_to product.name, "/maderas/#{ product.name.parameterize }", :class => "subseccion" %></li>
              <% end %>
            <% end %>
            <li><%= link_to "Ver todos", "/maderas", :class => "subseccion italica" %></li>
          </ul>
        </div>
        <div class="columna-tablet-3 columna-desktop-3">
          <%# Tableros %>
          <h4>Tableros</h4>
          <ul>
            <%# Subcategorías de Tableros %>
            <% data.site.subcategories.each do |id, subcategory| %>
              <% if subcategory.category.name === "Tableros" %>
                <li><%= link_to subcategory.nombre, "/tableros/#{ subcategory.nombre.parameterize }", :class => "subseccion" %></li>
              <% end %>
            <% end %>
            <%# Tableros sin Subcategoría %>
            <% data.site.products_a.each do |id, product| %>
              <% if product.category.name === "Tableros" && !product.subcategory %>
                <li><%= link_to product.name, "/tableros/#{ product.name.parameterize }", :class => "subseccion" %></li>
              <% end %>
            <% end %>
            <li><%= link_to "Ver todos", "/tableros", :class => "subseccion italica" %></li>
          </ul>
        </div>
      </div>
      <div class="columna-movil-50">
        <div class="columna-tablet-3 columna-desktop-3">
          <%# Ferretería %>
          <h4>Ferretería</h4>
          <ul>
            <% data.site.subcategories.each do |id, subcategory| %>
              <% if subcategory.category.name === "Ferretería" %>
                <li><%= link_to subcategory.nombre, "/ferreteria", :class => "subseccion" %></li>
              <% end %>
            <% end %>
            <li><%= link_to "Ver todos", "/ferreteria", :class => "subseccion italica" %></li>
          </ul>
        </div>
        <div class="columna-tablet-3 columna-desktop-3">
          <%# Productos por Aplicación %>
          <h4>Productos por Aplicación</h4>
          <ul>
            <% data.site.product_applications.each do |id, application| %>
              <li><%= link_to application.title, "/productos-por-aplicacion/#{ application.title.parameterize }/", :class => "subseccion" %></li>
            <% end %>
          </ul>
          <ul>
            <%# Ofertas %>
            <% if check_sales %>
              <li><%= link_to 'Ofertas', '/ofertas', :class => "seccion" %></li>
            <% end %>
            <%# Servicios %>
            <li><%= link_to 'Servicios', "/servicios", :class => "seccion" %></li>
            <%# Sucursales %>
            <li><%= link_to 'Sucursales', "/sucursales", :class => "seccion" %></li>
            <%# Nosotros %>
            <li><%= link_to 'Nosotros', "/nosotros", :class => "seccion" %></li>
            <%# Empleos %>
            <% data.site.jobs.each do |id, job| %>
              <% if job.is_published %>
                <li><%= link_to 'Empleos', '/empleos', :class => "seccion" %></li>
                <% break %>
              <% end %>
            <% end %>
            <%# Aviso %>
            <li><%= link_to 'Aviso', '/aviso', :class => "seccion" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
