<aside id="contenedor-menu-productos">
  <div id="menu-productos">
    <ul>
      <%# Maderas %>
      <li>
        <p>Maderas</p>
        <div class="boton-acordion">
          <div class="abrir-acordion"></div>
          <div class="cerrar-acordion <% if category && category.name === 'Maderas' %>girar<% end %>"></div>
        </div>
      </li>
      <ul class="<% if category && category.name === 'Maderas' %>acordion-abierto<% end %>">
        <% data.site.product_menu.each do |id, menu| %>
          <% menu.maderas.each do |product| %>
            <li><%= link_to product.name, "/maderas/#{ product.name.parameterize }" %></li>
          <% end %>
        <% end %>
      </ul>
      <%# Tableros %>
      <li>
        <p>Tableros</p>
        <div class="boton-acordion">
          <div class="abrir-acordion"></div>
          <div class="cerrar-acordion <% if category && category.name === 'Tableros' %>girar<% end %>"></div>
        </div>
      </li>
      <ul class="<% if category && category.name === 'Tableros' %>acordion-abierto<% end %>">
        <% data.site.product_menu.each do |id, menu| %>
          <% menu.tableros.each do |product| %>
            <% if product.subcategory %>
              <li><%= link_to product.name, "/tableros/#{ product.name.parameterize }" %></li>
            <% else %>
              <li><%= link_to product.nombre, "/tableros/#{ product.nombre.parameterize }" %></li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
      <%# Ferretería %>
      <li>
        <p>Ferretería</p>
        <div class="boton-acordion">
          <div class="abrir-acordion"></div>
          <div class="cerrar-acordion <% if category && category.name === 'Ferretería' %>girar<% end %>"></div>
        </div>
      </li>
      <ul class="<% if category && category.name === 'Ferretería' %>acordion-abierto<% end %>">
        <% data.site.subcategories.each do |id, subcategory| %>
          <% if subcategory.category.name === "Ferretería" %>
            <li><%= link_to subcategory.nombre, "/ferreteria/#{ subcategory.nombre.parameterize }" %></li>
          <% end %>
        <% end %>
      </ul>
      <%# Ofertas %>
      <% data.site.products_a.each do |id, product| %>
        <% if product.is_sale %>
          <li><%= link_to 'Ofertas', '/ofertas' %></li>
          <% break %>
        <% end %>
      <% end %>
      <% data.site.products_b.each do |id, product| %>
        <% if product.is_sale %>
          <li><%= link_to 'Ofertas', '/ofertas' %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</aside>
