<%# Config %>
<% main_store = "" %>
<% data.site.stores.each do |id, store| %>
  <% if store.is_hidden %>
    <% main_store = store %>
  <% end %>
<% end %>
<%# End %>
<header class="principal sombreado">
  <div class="contenedor-desktop">
    <div id="branding">
      <a class="logo" href="/"></a>
    </div>
    <div id="enlaces">
      <ul>
        <li><%= link_to 'Maderas', "/maderas" %></li>
        <li><%= link_to 'Tableros', "/tableros" %></li>
        <li><%= link_to 'Ferretería', "/ferreteria" %></li>
        <li><%= link_to 'Servicios', "/servicios" %></li>
        <li><%= link_to 'Sucursales', "/sucursales" %></li>
      </ul>
    </div>
    <div id="contacto">
      <div id="formas" data-sucursal="Central" data-tipo="Menu Desktop">
        <p class="estado abierto">
          <span></span> Abierto
        </p>
        <a class="boton telefono" href="tel:<%= phone main_store.number %>"><span></span><%= main_store.number %></a>
      </div>
    </div>
  </div>
  <div id="abrir-menu">
    <div></div>
  </div>
</header>
<nav id="menu">
  <header>
    <div data-sucursal="Central" data-tipo="Menu Movil">
      <p class="estado abierto">
        <span></span> Abierto
      </p>
      <span class="separador"></span>
      <a class="contacto telefono" href="tel:<%= phone main_store.number %>"><%= main_store.number %></a>
    </div>
    <div id="cerrar-menu">
      <div></div>
    </div>
  </header>
  <%# Index %>
  <li><%= link_to 'Inicio', "/" %></li>
</nav>
