---
layout: list
---
<%# Config %>
<% category = locals[:category] %>
<% subcategory = locals[:subcategory] %>
<% if !subcategory %>
  <% title = category.name %>
<% else %>
  <% title = subcategory.nombre %>
<% end %>
<% primary_products = [] %>
<% data.site.product_menu.each do |id, list| %>
  <% if category.name === "Maderas" %>
    <% list.maderas.each do |product| %>
      <% primary_products.push(product) %>
    <% end %>
  <% elsif category.name === "Tableros" %>
    <% list.tableros.each do |product| %>
      <% primary_products.push(product) %>
    <% end %>
  <% end %>
<% end %>
<%# End %>
<section id="contenedor-de-contenido" class="lista <% if subcategory %>lista-tablet-subcategoria<% end %>">
  <header>
    <h1><%= title %></h1>
  </header>
  <div class="contenedor-movil-completo contenedor-tablet-completo">
    <div class="reticula listado">
      <% if !subcategory %>
        <% primary_products.each do |product| %>
          <% if !product.subcategory %>
            <div class="lista-de-productos columna-movil-50 columna-tablet-33 columna-desktop-3">
              <div class="tarjeta-producto">
                <% link_to "/#{ title.parameterize }/#{ product.name.parameterize }", :class => "enlace-imagen" do %>
                  <div class="cubierta"></div>
                  <picture>
                    <img src="<%= product.card.url %>" alt="<%= product.card.description %>"/>
                  </picture>
                <% end %>
                <header>
                  <%= link_to product.name, "/#{ title.parameterize }/#{ product.name.parameterize }" %><% if product.is_sale %><span class="oferta-lista"></span><% end %>
                </header>
              </div>
            </div>
          <% else %>
            <div class="lista-de-productos columna-movil-50 columna-tablet-33 columna-desktop-3">
              <div class="tarjeta-producto">
                <% link_to "/#{ category.name.parameterize }/#{ subcategory.nombre.parameterize }", :class => "enlace-imagen" do %>
                  <div class="cubierta"></div>
                  <picture>
                    <img src="<%= subcategory.card.url %>" alt="<%= subcategory.card.description %>"/>
                  </picture>
                <% end %>
                <header>
                  <%= link_to subcategory.nombre, "/#{ title.parameterize }/#{ subcategory.nombre.parameterize }" %><% if subcategory_on_sale subcategory.nombre %><span class="oferta-lista"></span><% end %>
                </header>
              </div>
            </div>
          <% end %>
        <% end %>
      <%# Original %>
      <% else %>
        <% data.site.products_a.each do |id, product| %>
          <% if product.subcategory && product.subcategory.nombre === "Triplay" %>
            <div class="lista-de-productos columna-movil-50 columna-tablet-33 columna-desktop-3">
              <div class="tarjeta-producto">
                <% link_to "/#{ category.name.parameterize }/#{ subcategory.nombre.parameterize }/#{ product.name.parameterize }", :class => "enlace-imagen" do %>
                  <div class="cubierta"></div>
                  <picture>
                    <img src="<%= product.card.url %>" alt="<%= product.card.description %>"/>
                  </picture>
                <% end %>
                <header>
                  <%= link_to product.name, "/#{ category.name.parameterize }/#{ subcategory.nombre.parameterize }/#{ product.name.parameterize }" %><% if product.is_sale %><span class="oferta-lista"></span><% end %>
                </header>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
