---
layout: detail
---
<%# Config %>
<% category = locals[:category] %>
<% subcategory = locals[:subcategory] %>
<% product = locals[:product] %>
<% is_sale = false %>
<% data.site.products_b.each do |id, product| %>
  <% if subcategory.nombre === product.subcategory.nombre %>
    <% if product.is_sale %>
      <% is_sale = true %>
      <% break %>
    <% end %>
  <% end %>
<% end %>
<%# End %>
<div id="contenedor-de-contenido">
  <section class="detalle <% if subcategory.applied_product_images %>con-galeria<% end %>">
    <div class="reticula">
      <div class="columna-desktop-12">
        <%# Imágen del Producto %>
        <div class="contenedor-movil-contenido contenedor-tablet-contenido">
          <header id="encabezado-de-subcategoria">
            <div class="encabezado">
              <h2 class="claro"><%= (category.name).chomp('s') %></h2>
              <h1 class="titulo-detalle">
                <%= subcategory.nombre %><% if is_sale %><span class="oferta-detalle"></span><% end %>
              </h1>
            </div>
          </header>
        </div>
      </div>
    </div>
    <div class="reticula">
      <div class="contenedor-movil contenedor-tablet">
        <%# Titulo y Descripción %>
        <div class="columna-desktop-5">
          <div class="descripcion subcategoria">
            <p><%= subcategory.description %></p>
          </div>
        </div>
        <%# Medidas, Clases y Tratamientos Disponibles %>
        <div class="columna-desktop-7">
          <div class="reticula">
            <div class="columna-desktop-50">
              <div class="columna-tablet-6">
                <div class="contenido">
                  <h3>Medidas Disponibles</h3>
                  <% subcategory.measurements.each do |measurement| %>
                    <div class="<% if measurement.is_range %>columna-movil-50 columna-tablet-50<% else %>columna-movil-100 columna-tablet-100<% end %> columna-desktop-100">
                      <div class="subcontenido">
                        <div class="columna-desktop-40">
                          <h5><%= measurement.name %></h5>
                        </div>
                        <div class="columna-desktop-60">
                          <% if measurement.is_range %>
                            <% n = measurement.measurements.length - 1 %>
                            <p><%= measurement.measurements[0] %> — <%= measurement.measurements[n] %><span class="unidad"><%= measurement.unidad %></span></p>
                          <% else %>
                            <% measurement.measurements.each do |m| %>
                              <div class="medida">
                                <p><%= m %><span class="unidad"><%= measurement.unidad %></span></p>
                              </div>
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="columna-desktop-50">
              <div class="columna-tablet-6">
                <div class="contenido">
                  <h3>Clases Disponibles</h3>
                  <div class="subcontenido">
                    <p>
                      <% if !subcategory.classes %>
                        —
                      <% else %>
                        <% n = subcategory.classes.length - 1 %>
                        <% subcategory.classes.each_with_index do |cls, c| %>
                          <% if c == n %>
                            <%= cls %>
                          <% else %>
                            <%= cls %>,
                          <% end %>
                        <% end %>
                      <% end %>
                    </p>
                  </div>
                </div>
                <div class="contenido">
                  <h3>Tratamientos</h3>
                  <div class="subcontenido">
                    <p>
                      <% if !subcategory.treatments %>
                        —
                      <% else %>
                        <% n = subcategory.treatments.length - 1 %>
                        <% subcategory.treatments.each_with_index do |treatment, t| %>
                          <% if t == n %>
                            <%= treatment %>
                          <% else %>
                            <%= treatment %>,
                          <% end %>
                        <% end %>
                      <% end %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%# Ofertas de Producto %>
    <% if is_sale %>
      <h1>Is on sale!</h1>
    <% end %>
  </section>
  <%# Imágenes de Producto Aplicado %>
  <% if subcategory.applied_product_images %>
  <section class="detalle producto">
    <% subcategory.applied_product_images.each do |image| %>
      <div class="columna-tablet-50 columna-desktop-50">
        <div class="mitad-izquierda producto">
          <picture>
            <img src="<%= image.url %>" alt="<%= image.description %>" />
          </picture>
        </div>
      </div>
    <% end %>
  </section>
  <% end %>
  <%# Variedad de Productos Disponibles %>
  <section class="detalle">
    <div class="contenedor-movil-completo contenedor-tablet-completo">
      <div class="reticula listado">
        <% data.site.products_b.each do |id, product| %>
          <% if product.subcategory.nombre === subcategory.nombre %>
            <div class="lista-de-productos columna-movil-50 columna-tablet-33 columna-desktop-3">
              <div class="tarjeta-producto detalle">
                <picture>
                  <img src="<%= product.card_detail.url %>" alt="<%= product.card_detail.description %>"/>
                </picture>
                <header>
                  <p><%= product.name %></p>
                </header>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
  <%# Detalles de Subcategoría %>
  <% if subcategory.details %>
  <section class="detalle">
    <div class="reticula">
      <div class="contenedor-movil-contenido contenedor-tablet-contenido">
        <div class="columna-desktop-3">
          <header id="detalles-de-producto">
            <h1>Detalles de <%= (subcategory.nombre).chomp('s') %></h1>
            <% if subcategory.documentation %>
              <% link_to "#{ subcategory.documentation.url }", :class => "ficha-tecnica", :target => "_blank" do %>
                <span></span>Descargar Ficha Técnica
              <% end %>
            <% end %>
          </header>
        </div>
        <div class="columna-desktop-2"></div>
        <div class="columna-desktop-7">
          <div class="reticula">
            <% details = subcategory.details.length %>
            <% subcategory.details.each_with_index do |detail, d| %>
              <% if d == 0 || d == ((details / 2).ceil) + 1 %>
                <div class="columna-tablet-6 columna-desktop-6">
              <% end %>
              <div class="contenido">
                <h3><%= detail.title %></h3>
                <div class="subcontenido">
                  <p><%= detail.description %></p>
                </div>
              </div>
              <% if d == ((details / 2).floor) - 1 || d == (details - 1) %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% end %>
  <%# Servicios de Subcategoría %>
  <section class="detalle productos-relacionados">
    <div class="reticula">
      <div class="carrusel">
        <div class="contenedor-movil-contenido contenedor-tablet-contenido">
          <header id="servicios-relacionados">
            <h1>Servicios para <%= (subcategory.nombre).chomp('s') %></h1>
          </header>
        </div>
        <div class="columna-desktop-12">
          <div class="reticula listado">
            <div class="contenedor-movil-carrusel contenedor-tablet-carrusel">
              <% subcategory.services.each do |service| %>
                <div class="tarjeta-producto columna-desktop-3">
                  <% link_to "/servicios", :class => "enlace-imagen" do %>
                    <div class="cubierta"></div>
                    <picture>
                      <source srcset="<%= service.card.url %>" media="(min-width: 1024px)" />
                      <img src="<%= service.card.url %>" alt="<%= service.card.description %>"/>
                    </picture>
                  <% end %>
                  <header>
                    <h3 class="claro"><% if service.subcategory %><%= fetch_service_subcategory service.subcategory.id %><% else %>Otros<% end %></h3>
                    <%= link_to service.nombre, "/servicios" %>
                  </header>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%# Productos Relacionados %>
  <section class="detalle productos-relacionados">
    <div class="reticula">
      <div class="carrusel">
        <div class="contenedor-movil-contenido contenedor-tablet-contenido">
          <header id="servicios-relacionados">
            <h1>Productos Relacionados</h1>
          </header>
        </div>
        <div class="columna-desktop-12">
          <div class="reticula listado">
            <div class="contenedor-movil-carrusel contenedor-tablet-carrusel">
              <% subcategory.products.each do |pr| %>
                <% cat = fetch_category pr.category.id %>
                <% if pr.subcategory %>
                  <% subc = fetch_subcategory pr.subcategory.id %>
                  <% if subc.is_detail %>
                    <% path = "/#{ subc.nombre.parameterize }/#{ pr.name.parameterize }" %>
                  <% else %>
                    <% path = "/#{ subc.nombre.parameterize }" %>
                  <% end %>
                <% else %>
                  <% subc = false %>
                  <% path = "/#{ pr.name.parameterize }" %>
                <% end %>
                <div class="tarjeta-producto columna-desktop-3">
                  <% link_to "/#{ cat.name.parameterize }#{ path }", :class => "enlace-imagen" do %>
                    <div class="cubierta"></div>
                    <picture>
                      <source srcset="<%= pr.card.url %>" media="(min-width: 1024px)" />
                      <img src="<%= pr.card.url %>" alt="<%= pr.card.description %>"/>
                    </picture>
                  <% end %>
                  <header>
                    <h3 class="claro"><% if !subc %><%= (cat.name).chomp('s') %><% else %><%= (subc.nombre).chomp('s') %><% end %></h3>
                    <%= link_to pr.name, "/#{ cat.name.parameterize }#{ path }" %><% if pr.is_sale %><span class="oferta-lista"></span><% end %>
                  </header>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
