---
layout: copy
config: policy
---
<%# Config %>
<% policy_page = "" %>
<% data.site.policy_page.each do |id, page| %>
  <% policy_page = page %>
<% end %>
<%# End %>
<section>
  <div class="contenedor-movil-contenido contenedor-tablet-contenido">
    <header class="aviso">
      <h1><%= policy_page.title %></h1>
      <p id="actualizado-el" class="fecha"><%= policy_page.last_updated %></p>
      <div class="nota-aviso">
        <p class="obscuro"><%= policy_page.intro %></p>
      </div>
    </header>
  </div>
  <%# Content %>
  <div class="contenedor-movil-contenido contenedor-tablet-contenido">
    <%# Config %>
    <% pdl = policy_page.details.length - 1 %>
    <%# End %>
    <% policy_page.details.each_with_index do |detail, d| %>
      <article>
        <div class="titulo-seccion">
          <h3><%= detail.title %></h3>
        </div>
        <% if detail.description %>
        <div>
          <p><%= detail.description %></p>
        </div>
        <% end %>
        <% if detail.lista %>
          <%# Config %>
          <% dll = detail.lista.length - 1 %>
          <%# End %>
          <ul class="puntos">
            <% detail.lista.each_with_index do |item, i| %>
              <li><p><%= item %></p></li>
            <% end %>
          </ul>
        <% end %>
      </article>
    <% end %>
  </div>
</section>
