<%# Config %>
<% index = "" %>
<% data.site.index_page.each do |id, page| %>
  <% index = page %>
<% end %>
<%# End %>
<%# Index Gallery %>
<div class="galeria">
  <div class="galeria-carrusel">
    <% index.gallery.each do |gallery, g| %>
      <div class="galeria-anuncio">
        <% if !gallery.align %>
          <div id="<%= gallery.title.parameterize %>" class="anuncio-cubierta" title="<%= gallery.background.description %>">
            <div class="no-js contenedor-movil contenedor-tablet contenedor-desktop">
              <% if gallery.subtitle %>
                <h2 class="blanco"><%= gallery.subtitle %></h2>
              <% end %>
              <h1 class="blanco"><%= gallery.title %></h1>
              <% if gallery.description %>
                <p class="blanco"><%= gallery.description %></p>
              <% end %>
              <% if gallery.button %>
                <% link_to "#{ gallery.button.path }", :class => "boton accion" do %>
                  <%= gallery.button.title %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% else %>
          <div id="<%= gallery.title.parameterize %>" class="anuncio-detalle" title="<%= gallery.background.description %>">
            <div class="contenedor-tablet contenedor-desktop-galeria altura-100">
              <div class="reticula altura-100">
                <div class="contenedor-movil altura-100">
                  <div class="columna-tablet-6 columna-desktop-4 altura-100">
                    <div class="detalle-contenido altura-100">
                      <div>
                        <% if gallery.subtitle %><h2 class="<% if gallery.white %>blanco<% else %>obscuro<% end %>"><%= gallery.subtitle %></h2>
                        <% end %>
                        <% if gallery.title %>
                          <h1 class="<% if gallery.white %>blanco<% else %>obscuro<% end %>"><%= gallery.title %></h1>
                        <% end %>
                        <% if gallery.description %>
                          <p class="<% if gallery.white %>blanco<% else %>obscuro<% end %>"><%= gallery.description %></p>
                        <% end %>
                        <% if gallery.button %>
                          <% link_to "#{ gallery.button.path }", :class => "boton accion" do %>
                            <%= gallery.button.title %>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
